<h1>Edit Profile:</h1>
  
<form method="POST" action="/owners/<%= @owner.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
      
  <label>New Name: <input type="text" name="name" value="<%= @owner.name %>"></label>
  <label>New Username: <input type="text"  name="username" value="<%= @owner.username %>" ></label>
      <button type="submit"> Submit</button>
      <br>
    </form>
    
  <form action="/owners/<%= @owner.id %>" method="POST">
  <br>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Profile">
  </form>
  <br>
  <p><a href="/owners/<%= @owner.id %>">Back</a></p>