<div class="container">
<h1>Welcome, <%= @user.name %>!</h1>

<h3>My Dogs:</h3>
<% current_user.dogs.each do |d| %>
    <h4><%= d.name %> </h4>
    <li>Age: <%= d.age %></li>
    <p>Breed: <%= d.breed %></p>
  <% end %>
<p><a href="/dogs/new">+ Add Dog</a></p>
<p><a href="dogparks/index">My Dogparks</a></p>
<h1>Parks I like to visit: </h1>

<br>
<p><a href="/logout">Log Out</a></p>
<p><a href="/profile/<%= @user.id %>/edit">Edit Profile</a></p>
</div>
